<main [attr.data-theme]="theme$">
	<div class="sided_bar">
		<div class="sided_bar_navigation">
			<ul>
				<li #menuList
					*ngFor="let item of menuItems$ | async"
					[attr.data-active]="'/' + item.subMenu[0]?.name"
					[class.active]="isActive"
					class="menu_list">
					<div (click)="toggle($event, item)"
						class="button">
						<ng-container *ngIf="item.field === 'home'"
							[style.display]="animeState() ? 'none' : 'flex'">
							<app-logo></app-logo>
							<span>{{ item.name }}</span>
						</ng-container>
						<ng-container *ngIf="
								item.field !== 'home' &&
								item.field !== 'dark_mode' &&
								item.field !== 'tag' &&
								item.field !== 'settings' &&
								item.field !== 'start'
							"
							[style.opacity]="animeState() ? 'flex' : 'none'">
							<mat-icon [fontIcon]="item.field"
								aria-hidden="false"
								aria-label="Example home icon"></mat-icon>
							<span>{{ item.name }}</span>
						</ng-container>
					</div>
					<div *ngIf="item.field === 'dark_mode'"
						(click)="themeChanging()"
						class="button">
						<ng-container>
							<mat-icon [fontIcon]="item.field"
								aria-hidden="false"></mat-icon>
						</ng-container>
						<span>{{ item.name }}</span>
					</div>
					<div *ngIf="item.field === 'tag'"
						(click)="openSocial()"
						class="button"
						style="view-transition-name: social">
						<ng-container>
							<mat-icon [fontIcon]="item.field"
								aria-hidden="false"></mat-icon>
						</ng-container>
						<span>{{ item.name }}</span>
					</div>
					<div *ngIf="item.field === 'settings'"
						[appShowIconOnRoute]="'/template-editor'"
						(click)="handleBoxState(item)"
						class="button">
						<mat-icon [fontIcon]="item.field"></mat-icon>
						<span>{{ item.name }}</span>
					</div>
					<div *ngIf="item.field === 'start'"
						[appShowIconOnRoute1]="'/editor'"
						class="button">
						<mat-icon [fontIcon]="item.field"></mat-icon>
						<span>{{ item.name }}</span>
					</div>
				</li>
			</ul>
			<div [@toggleBox]="boxState"
				(@toggleBox.done)="onToggleBoxAnimationDone()"
				class="contextBox">
				<ul *ngIf="panelItem">
					<li *ngFor="let subItem of panelItem.subMenu"
						class="sub_fields">
						<span>{{subItem.name}}</span>
						<div *ngFor="let panel of subItem.panelIcons"
							(click)="navigationContext()"
							class="fields_data">
							<ng-container>
								<mat-icon [fontIcon]="panel.icon"
									aria-hidden="false"></mat-icon>
							</ng-container>
							<a [@sub_menu_fade]="subMenuState">
								{{ panel.iconText }}
							</a>
						</div>
					</li>
				</ul>
				<div (click)="close()"
					class="font_icon_close">
					<mat-icon fontIcon="arrow_back"></mat-icon>
				</div>
			</div>
		</div>
	</div>
	<div class="content_space"
		id="anchor">
		<router-outlet></router-outlet>
		<ng-container *ngIf="showLightbox"
			class="search_slot-container">
			<app-search-slot [showLightbox]="showLightbox"
				(closeLightboxEvent)="showLightbox = false"></app-search-slot>
		</ng-container>
		<ng-container *ngIf="showSocial"
			style="view-transition-name: social;">
			<app-social [showSocial]="showSocial"></app-social>
		</ng-container>
		<ng-container>
			<app-error-slot></app-error-slot>
		</ng-container>
		<app-footer></app-footer>
	</div>
</main>
