[data-theme="light"] {
  --background-color: #fff2df;
  --ul-background: #f7debe;
  --context-box: #feebd3de;
  --icon-color: #343434;
}

[data-theme="dark"] {
  --background-color: #222831;
  --ul-background: #393E46;
  --context-box: #7077A1;
  --icon-color: #fff2df;
}

#logo_svg {
  width: 40px;
  height: 40px;
  display: inline-block;
  fill: var(--icon-color);
  stroke: var(--icon-color);
}

#logo_svg path{
  stroke: var(--icon-color);
}

.stroke-dasharrayEven {
  stroke-dasharray: 200;
  stroke-dashoffset: 0;
  animation: drawStrokeEven 2.5s linear forwards infinite;
}

@keyframes drawStrokeEven {
  from {
    stroke-dashoffset: 1500;
  }
  to {
    stroke-dashoffset: 0;
  }
}

.stroke-dasharrayOdd {
  stroke-dasharray: 200;
  stroke-dashoffset: 0;
  animation: drawStrokeOdd 2.5s linear forwards infinite;
}

@keyframes drawStrokeOdd {
  from {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: 1500;
  }
}
