<div class="view_container">
	<div class="form_container_grid">
		<input #adminName
			placeholder="from:"
			type="text"
			name="name">
		<div class="email-container">
			<div #editable
				(input)="handleInput($event)"
				class="email-input"
				contenteditable="true"></div>
		</div>
		<input #subject
			placeholder="Subject:"
			type="text"
			name="Subject">
		<!-- <input placeholder="upload Zip:" #fileUploads type="file" name="file"/> -->
		<div #parentElmnt
			class="htmlEditor"></div>
	</div>
	<div class="description">
		<iframe #iframeElement
			[frameBorder]="0"></iframe>
	</div>
	<button #submitButton
		(click)="submit($event)"
		class="submit">
	</button>
	<div *ngIf="!(this.emailService.loading | async)"
		[@end_animation]
		(@end_animation.done)="headingAnimation()"
		class="success_message">
		<h1 [@heading]="readyState">THANK YOU!</h1>
	</div>
</div>
